{erl_opts, [debug_info]}.

% https://github.com/avtobiff/erlang-uuid
% http://www1.erlang.org/faq/libraries.html#idp32278448
% https://adoptingerlang.org/docs/development/dependencies/
% https://medium.com/@brucifi/using-rebar3-to-manage-erlang-packages-282f78adff1e

{deps, [
    {uuid, ".*",
     {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
     {erlcard, ".*",
       {git, "https://github.com/silviucpp/erlcard.git", "master"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [pizza_fsm]}
]}.
